<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Nueva Historia
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button icon-left (click)="addCamera()">
    <ion-icon name="camera"></ion-icon>
  </button>
  <button ion-button icon-left (click)="addGalery()">
    <ion-icon name="image"></ion-icon>
  </button>
  <button ion-button icon-left>
    <ion-icon name="videocam"></ion-icon>
  </button>
  <button ion-button icon-left (click)="addText()">
    <ion-icon name="create"></ion-icon>
  </button>
  <button ion-button icon-left>
    <ion-icon name="mic"></ion-icon>
  </button>
  <ion-card>
    <ion-card-header>
      <button ion-button clear style="text-transform: none;"  (click)="changeName()">{{this.name}}</button>
      <ion-note item-end>{{today | date:'fullDate'}}</ion-note>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="type == typeHistory.IMAGE"> <img [src]="'data:image/jpeg;base64,'+content"></div>
      <div *ngIf="type == typeHistory.TEXT"> {{content}}</div>
    </ion-card-content>

  </ion-card>

  <button ion-button full (click)="createHistory()">
    Crea la historia
  </button>
</ion-content>
